@font-face {
    font-family: 'Cabin';
    src: url(./fonts/Cabin-Regular.ttf);
}

@font-face {
    font-family: 'Inter';
    src: url(./fonts/Inter-VariableFont_opsz\,wght.ttf);
}

@font-face {
    font-family: 'Roboto';
    src: url(./fonts/Roboto-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: 'Nunito';
    src: url(./fonts/Nunito-Regular.ttf);
}

* {
    box-sizing: border-box
}

:root {

    --color-primary: #6a3cc0;
    --color-hover: #5221ac;
    --background-sidebar: #0c0832;

    --font-primary: "Nunito", sans-serif;
    --font-secondary: "Roboto", sans-serif;
    --font-title: "Cabin", sans-serif;
}

label {
    font-family: var(--font-title);
    font-weight: 400
}

p,
input {
    font-family: var(--font-title);
    font-weight: 600
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-title)
}

body {
    font-family: var(--font-title)
}

.powered-by {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #666;
}

.powered-by a {
  color: var(--color-primary); 
  text-decoration: none;
}

.powered-by a:hover {
  text-decoration: underline;
  color: var(--color-primary);
}


aside.sidebar {
    float: right;
    background: var(--background-sidebar);
    height: 100vh;
    text-align: center
}

@media (min-width:720px) {
    aside.sidebar {
        width: 50%
    }
}

@media (min-width:840px) {
    aside.sidebar {
        width: 36%
    }
}

@media (min-width:1300px) {
    aside.sidebar {
        width: 30%
    }
}

.user-access {
    height: 100vh;
    padding: 40px 70px 70px 70px;
}

@media (min-width:600px) {
    .user-access {
        padding: 15px 70px 70px 70px;
    }
}

.login-form {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center
}

aside.sidebar-right {
    float: left;
    display: none;
    background: #fff0;
    height: 100vh
}

@media (min-width:720px) {
    aside.sidebar-right {
        display: block;
        width: 50%
    }
}

@media (min-width:840px) {
    aside.sidebar-right {
        width: 64%;
        display: block
    }
}

@media (min-width:1300px) {
    aside.sidebar-right {
        width: 70%;
        display: block
    }
}

.sidebar-right-content {
    padding: 40px 72px;
    height: 100vh
}

.caption span {
    font-size: 3em;
    font-weight: 700;
    color: var(--color-primary)
}

.caption p {
    background: #ffffff57;
    font-size: 19px;
    font-weight: 600;
    color: #000
}

img.login-logo {
    width: 25%
}

@media (min-width:720px) {
    img.login-logo {
        width: 30%
    }
}

.logo-content {
    margin: 14px 0
}

.login-title {
    font-size: 16pt;
    font-family: var(--font-title);
    font-weight: 600;
    color: #fff
}

span.missing,
span.expired {
    color: red;
    font-family: var(--font-title);
    font-size: 13px
}

span.missing-key {
    color: red;
    text-decoration: underline;
    font-size: 15px
}

input[type="text"],
input[type="password"],
input[type="email"] {
    outline: none;
    padding: 10px;
    background: #fff0;
    width: 300px;
    border: none;
    margin: 0
}

input[type="text"]:hover .i {
    color: green
}

button[type="submit"] {
    margin-top: 5px;
    color: #fff;
    font-family: var(--font-title);
    background: var(--color-primary);
    width: 320px;
    height: 45px;
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center
}

button[type="submit"]:hover {
    background-color: var(--color-hover)
}

.input-div {
    display: flex;
    position: relative;
    align-items: center;
    color: #fff;
    margin-bottom: 20px;
    border-bottom: 2px solid #ccc
}

.input-div input {
    color: #fff
}

.input-div label {
    position: absolute;
    font-size: 10pt;
    margin: 0;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    font-family: var(--font-title);
    transition: .6s
}

input:focus~label,
input:valid~label {
    top: -5px
}

.input-div .i {
    position: absolute;
    right: 10px
}

button[type=submit]:focus {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none
}

button[type=submit]:focus {
    box-shadow: 0 0 5px -2px var(--color-primary);
    border: 1px solid var(--color-primary)
}

input,
select {
    color: var(--color-primary) !important;
    -webkit-text-fill-color: var(--color-primary) !important;
    -webkit-background-clip: text !important;
    background-clip: text !important
}

/* Contenedor social-media */
.social-grid {
    width: 22%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    margin: 0 auto;
}

@media (min-width: 764px) {
    .social-grid {
        width: 31%;
    }
}

/* Estilos generales para los iconos */
.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 37px;
    height: 37px;
    font-size: 20px;
    border-radius: 50%;
    background-color: #334155;
    color: white;
    transition: transform 0.3s ease-out;
    text-decoration: none;
}

/* Efecto hover */
.social-icon:hover {
    transform: scale(1.05);
    color: var(--color-primary);
}

/* Iconos */
.social-icon i {
    font-size: 25px;
}